*{
      padding: 0;
      margin:0;
      box-sizing:border-box;
    }
    body{
      background-image:url("../file/bg1.png");
      background-attachment: fixed;
      background-size: cover;;
    }


    header{
      position:fixed;
  
      background: transparent;
      border: 1px solid gray;
      backdrop-filter: blur(3px);

    /* background-image: url("../file/bg1.png"); */
    /* --tw-backdrop-blur: blur(20px); */
    right:0;
    left:0;
    padding:10px 20px;
    background-repeat: no-repeat;
    background-size: cover;
    height:105px;
 

  }
    header h1{
      margin:0px;
      text-align: center;
      align-content: center;  
      text-transform: uppercase; 
      padding-top:2px;
      font-size: 40px;
    }
 

    .logo img{
      height:40px;
      width:40px;
      position: fixed;
      left: 20px;
      top:15px;
    }

    .nitjava{
      position: fixed;
      right:20px;
      top:15px;
      height:40px;
      width:40px;
    }


    nav {
      color:#010101;
      text-transform: uppercase;
      position: fixed;
      right:5%;
      top:80px;
      font-size:20px;
    }
    nav a{
      color:#010101;
      padding-left: 10px;
    }

    main{
      padding-top: 70px;
    }

.scrollup img{
  position:fixed;
  bottom:20px;
  right:15px;
  border-radius: 50%;
  /* background-color: black; */
  height:50px;
  width:50px;
}


    .tool-container{
      text-transform: uppercase;
      text-align: center;
      padding:15px 0px 10px 0px;
      background-image:linear-gradient(to bottom,#2b0748c6,#4c13b847);
      margin:2%;
    }

    .img-body{
      height:250px;
      width:400px;
      display:inline-block;
      text-align: center;
      align-content: end;
      background-image: linear-gradient(to top,#2b07486b,#4d13b830);
      margin:5%;
      padding-bottom:20px;
      font-size: 18px;
      border-radius: 10px;

    }
    .img-body:hover{
      transform: scale(1.1);
      cursor: pointer;
      transition-duration: 0.3s;

    }
    a{
      font-weight: 900;
      color: rgb(0, 0, 0);
      text-decoration: none;
    }

.svg:hover{
  background-image: url("/file/svg3.jpg");
  background-size:contain;
  background-repeat: no-repeat;
  color:transparent;
  transition-duration: 0.3s;
  background-size: cover;
  opacity:0.3;
  
}
.png:hover{
  opacity:0.3;
  background-image: url("/file/png.jpg");
  
  background-size: cover;
  background-repeat: no-repeat;
  color:transparent;
  transition-duration: 0.3s;
  background-size: cover;
}
.jpg:hover{
  background-image: url("/file/jpg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color:transparent;
  transition-duration: 0.3s;
  background-size: cover;
  opacity:0.3;
}
.gif:hover{
  background-image: url("/file/gif.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color:transparent;
  transition-duration: 0.3s;
  background-size: cover;
  opacity:0.3;
}
.heading{
  font-size: 25px;
  font-weight: 900;
  text-transform: uppercase;
  padding-top:20px ;
}


.img-pdf:hover{}
.pdf-img:hover{}
.word-pdf:hover{}



.img-gen:hover{}
.vid-gen:hover{}
.code-gen:hover{}
.vid-edit:hover{}
.ppt:hover{}
.gfx:hover{}
.copy:hover{}